body {
  font-family: roboto;
  margin: 0;
  background-color: #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.d-none {
  display: none !important;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-inner {
  width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo-area {
  display: flex;
  padding-left: 8px;
  & img {
    width: 100px;
  }
}

.search-container {
  display: flex;
  gap: 8px;
  padding-right: 8px;
}
& input {
  height: 40px;
  font-size: 24px;
  border-radius: 24px;
  padding-left: 16px;
}

#pokedex {
  width: 960px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;
}

.pokemon-card {
  width: 300px;
  background-color: #48d0b0;
  color: white;
  border-radius: 16px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card-left {
  padding-left: 16px;
}

.pokemon-skills {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 16px;
}

.pokemon-skill-span {
  border: 1px solid black;
  padding: 4px 12px;
  border-radius: 8px;
  width: 100px;
}

.pokemon-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.pokemon-id {
  padding: 16px 16px 0 0;
}

.pokemon-img-container {
  position: relative;
  top: 0;
  left: 0;
}

.pokemon-background-img {
  width: 150px;
  position: absolute;
  top: -27px;
  left: -40px;
  filter: grayscale(100%);
  opacity: 24%;
}

.pokemon-img {
  width: 72px;
  position: relative;
  top: 0;
  left: 0;
}

/* dialog */
.dialog-shadow {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog {
  background-color: #48d0b0;
  height: 78vh;
  width: 30vw;
  border: 1px solid black;
  box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
  border-radius: 24px;
  position: fixed;
  top: 64px;
  z-index: 999;
}

.dialog-navi {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

#previous-icon {
  width: 30px;
  opacity: 0.6;
  cursor: pointer;
}

#next-icon {
  width: 30px;
  transform: rotateZ(180deg);
  opacity: 0.6;
  cursor: pointer;
}

#close-icon {
  width: 30px;
  opacity: 0.6;
  cursor: pointer;
}

.dialog-header {
  color: white;
  padding-left: 16px;
}

#dialog-pokemon-name {
  margin-bottom: 0;
}

.dialog-img-container {
  display: flex;
  justify-content: center;
}

.pokemon-single-img {
  width: 150px;
  position: absolute;
  top: 0px;
  right: 10%;
}

.dialog-content {
  background-color: white;
  height: 65vh;
  border-radius: 24px;
  margin-top: 16px;
  padding: 16px;
}

.dialog-content h3 {
  margin: 0 0 8px 0;
}

#dialog-content-characteristics {
  padding-bottom: 16px;
}

#dialog-content-data {
  padding-bottom: 16px;
}

#dialog-content-evo {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-around;
}

.evolution-img {
  width: 120px;
}

#dialog-content-moves {
  height: 110px;
}

.single-move {
  border: 1px solid;
  padding: 4px 16px;
  border-radius: 25px;
  text-align: center;
  margin-top: 2px;
}

.load-more-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

#load-more-btn {
  font-size: 24px;
  padding: 24px;
  border-radius: 24px;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}

@media (max-width: 960px) {
  header {
    width: 100%;
  }

  #pokedex {
    width: 100%;
  }

  #dialog {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  .pokemon-single-img {
    width: 120px;
    top: 24px;
  }

  .evolution-img {
    width: 75px;
  }

  .header-inner {
    flex-direction: column;

    & h1 {
      margin: 8px;
    }
  }
}
